body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('mountains.jpg');
  background-size: cover;
  background-position: center;
  color: #000;
  transition: 0.5s;
}

body.dark {
  background-image: none;
  background-color: #111;
  color: #eee;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #ffffffaa;
  color: #000;
  cursor: pointer;
  margin: 10px;
  border-radius: 8px;
}

body.dark button {
  background-color: #333;
  color: #fff;
}
